@import url(styles/style.css);

main{
    background-color: var(--color-background);
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(16em, 1fr) );
}

h1{
    translate: -100%;
}

main a{
    color: var(--color-background);
    text-decoration: none;
    background-color: var(--primary-color);
    border-radius: 2em;
    padding: .5em 1em;
}

section:nth-of-type(1){
    grid-column: 1/-1;
}

main button{
    background-color: var(--primary-color-action);
    color: var(--color-background);
    border: none;
    padding: .5em 1em;
    cursor: pointer;
    border-top-left-radius: 0;
    border-top-right-radius: 10em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 10em;
}

section:nth-of-type(2){
    padding: 1em;
}

section:nth-of-type(2) ul{
    list-style: none;
    display: flex;
    gap: 1em;
    border-bottom: 2px solid #ddd;
    background-color: lightgrey;
    border-radius: .6em;
}

section:nth-of-type(2) ul li{
    margin: 0;
}

section:nth-of-type(2) img{
    border-radius: .625rem;
    display: block;
    width: 17.5em;
    height: 17.5em;
    object-fit: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: transform .5s;
}

section:nth-of-type(2) ul li a{
    background: none;
    border: none;
    padding: .5em 1em;
    cursor: pointer;
    font-weight: bold;
    color: var(--text-color);
    border-radius: 0;
}

section:nth-of-type(2) ul li a.active {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}

.carousel {
    display: none;
    overflow-x: auto;
    display: flex;
    gap: 1em;
    padding: 1em 0;
}

.carousel.active {
    display: flex;
}

section:nth-of-type(2) article{
    position: relative;
    min-width: 250px;
    height: 200px;
    border-radius: .625rem;
    overflow: hidden;
    color: var(--color-text-dark);
}

section:nth-of-type(2) article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s;
}

section:nth-of-type(2) article img:hover {
    transform: scale(1.05);
}

section:nth-of-type(2) article .info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .5em;
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent); /* Gradient for better text visibility */
}