@import url(styles/style.css);

main{
  background-color: var(--color-background);
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(16em, 1fr) );
}

/* Titel enz */
section:nth-of-type(1){
  grid-row: 1/3;

  grid-column: 1/-1;

  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(16em, 1fr) );

  align-items: center;
  text-align: center;
}

section:nth-of-type(1) img{
  width: 100%;
  height: auto;
  grid-column: 1/-1;
  grid-row: 1/4;
  filter: brightness(70%); 
}

section:nth-of-type(1) h1{
  font-size: 1.5rem;
  margin: .5em 0 0 1em;
  grid-column: 1/-1;
  grid-row: 1/2;
  color: var(--color-background);
  z-index: 2;
}

section:nth-of-type(1) p{
  font-size: 1rem;
  margin: 0 0 1em 1em;
  grid-column: 1/-1;
  grid-row: 2/3;
  color: var(--color-background);
  z-index: 2;
}

/* Soort 2 nav bar in de pagina zelf */
section:nth-of-type(1) ul{
  list-style: none;
  display: flex;
  justify-content: space-between;

  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  background-color: var(--primary-color);

  margin: 0;

  grid-column: 1/-1;
}

section:nth-of-type(1) ul li a{
  color: var(--color-text-dark);
  text-decoration: none;
  padding: .5em 1em;
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  z-index: 2;
}

section:nth-of-type(1) ul li:nth-of-type(1) a{
  color: var(--primary-color-2);
  text-decoration: underline;
}

/*  ...Hier komt de forum stijling...  */

section:nth-of-type(2){
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(16em, 1fr) );
    
  grid-row: 4/5;
}

section:nth-of-type(2) h2{
  grid-row: 1/2;
  grid-column: 1/-1;

  justify-self: center;
}

section:nth-of-type(2) form {
    margin:1em;

    border-radius:2rem;
    box-shadow: 0 0 .5em #0006;

    z-index: 3;

    grid-row: 2/3;
    grid-column: 1/-1;
}

section:nth-of-type(2) form fieldset {
    border:none;
    margin:0;
    padding:1em;
    display:grid
}

section:nth-of-type(2) form fieldset legend {
    position: absolute;
    left:-9999em;
}


section:nth-of-type(2) form button{
    background-color: var(--primary-color-action);
    color: var(--color-background);
    border: none;
    padding: 0 1em;
    cursor: pointer;

    border-radius:0 0 2rem 2rem;

    display:block;
    width:100%;

    font-size:1.5em;

    height:4rem;
}


section:nth-of-type(2) form select {
    appearance: none;
    font:inherit;
    padding:1em;
}

/* Activiteiten */
section:nth-of-type(3){
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
  display: grid;
  gap: 2rem;
}

section:nth-of-type(3) h2{
  font-size: 1em;
  font-weight: normal;
  line-height: 1.4;
}

section:nth-of-type(3) article:first-of-type{
  border-top: 0.2rem solid #ddd;
  padding-top: 1rem;

  display: grid;
  grid-template-columns: auto auto;
}

/* veel text blokjes met svg */
section:nth-of-type(4) article{
  border-top: 0.2rem solid #ddd;
  padding-top: 1rem;

  display: grid;
  grid-template-columns: auto auto;

  margin: .8rem;
}

section:nth-of-type(4) p{
  color: var(--primary-color);
}

section:nth-of-type(4) a{
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 700;
}

section:nth-of-type(4) article h3{
  font-size: 1.2rem;
  margin-bottom: 0.5rem;

  grid-column: 2/3;
  grid-row: 1/2;
}

section:nth-of-type(4) article img{
  width: 3rem;
  height: 3rem;

  display: block;
  margin-top: 0.5rem;

  grid-column: 1/2;
  grid-row: 1/3;
}

section:nth-of-type(4) article a{
  grid-column: 1/-1;
  grid-row: 3/4;

  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
}

section:nth-of-type(4) article p{
  color: var(--color-text); 

  grid-column: 2/3;
  grid-row: 2/3;
}

main button{
  background-color: var(--primary-color-action);
  color: var(--color-background);
  border: none;
  padding: .5em 1em;
  cursor: pointer;
  border-top-left-radius: 0;
  border-top-right-radius: 10em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 10em;
}

/* Te zien en te doen in de omgeving */
section:nth-of-type(5) {
  background-color: #0d5949;
  color: white;

  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 1rem;
}

section:nth-of-type(5) h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  grid-column: 1/-1;
  grid-row: 1/2;
  color: var(--primary-color-2);
  margin-left: .5rem;
}

section:nth-of-type(5) figure{
  display: grid;
  grid-template-rows: 1fr 1fr;

  text-align: center;

  margin: .5rem;
}

section:nth-of-type(5) figure img {
  width: 100%;
  height: 15rem;
  border-radius: 1rem;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  grid-row: 1/-1;
}

section:nth-of-type(5) figure:nth-of-type(1) {
  grid-column: 1/-1;
  grid-row: 2/3;
}

section:nth-of-type(5) figure:nth-of-type(2) {
  grid-column: 1/2;
  grid-row: 3/4;
}

section:nth-of-type(5) figure:nth-of-type(3) {
  grid-column: 2/3;
  grid-row: 3/4;
}

/* Clip-path gemaakt met https://bennettfeely.com/clippy/ */
section:nth-of-type(5) figure:nth-of-type(3) img{
  clip-path: polygon(81% 0, 100% 25%, 83% 51%, 100% 79%, 83% 100%, 18% 100%, 0 75%, 18% 53%, 0 25%, 18% 0);
}

section:nth-of-type(5) figure:nth-of-type(4) {
  grid-column: 1/2;
  grid-row: 4/5;
}

section:nth-of-type(5) figure:nth-of-type(5) {
  grid-column: 2/3;
  grid-row: 4/5;
}

section:nth-of-type(5) figure figcaption p {
  font-weight: bold;
  margin-top: -2.2rem;
  color: white;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 2;

  grid-row: 2/3;
}

section:nth-of-type(5) a {
  display: inline-block;
  margin-top: 1rem;
  background: transparent;
  border: .2rem solid white;
  color: white;
  padding: 0.6rem 1.4rem;
  border-radius: 9999rem;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;

  align-self: center;
  justify-self: center;

  grid-column: 1/-1;
  grid-row: 5/6;
}

section:nth-of-type(5) a:hover {
  background-color: white;
  color: #0d5949;
}

@media (min-width: 100px) and (max-width: 760px){
  section:nth-of-type(1){
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  section:nth-of-type(2){
    grid-column: 1/-1;
    grid-row: 2/3;
  }

  section:nth-of-type(3){
    grid-column: 1/-1;
    grid-row: 3/4;
  }

  section:nth-of-type(3) h2{
    font-weight: normal;
  }

  section:nth-of-type(3) figure{
    display: none;
  }

  section:nth-of-type(3) article p{
    display: none;
  }

  section:nth-of-type(3) article a{
    display: none;
  }

  section:nth-of-type(4){
    grid-column: 1/-1;
    grid-row: 4/5;
  }

  section:nth-of-type(5){
    grid-column: 1/-1;
    grid-row: 5/6;
  }
}

/* forum */
@media (min-width: 761px){
  section:nth-of-type(2) form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  section:nth-of-type(2) form fieldset:nth-of-type(1) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 1rem 2rem;

    grid-column: 1/2;
  }

  section:nth-of-type(2) form fieldset label:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  section:nth-of-type(2) form fieldset select:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  section:nth-of-type(2) form fieldset label:nth-of-type(2) {
    grid-column: 2/3; 
    grid-row: 1/2;
  }

  section:nth-of-type(2) form fieldset select:nth-of-type(2) {
    grid-column: 2/3; 
    grid-row: 2/3;
  }

  section:nth-of-type(2) form fieldset:nth-of-type(2){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 1rem 2rem;

    grid-column: 2/3;
  }

  section:nth-of-type(2) form fieldset label:nth-of-type(3){
    grid-column: 1/2; 
    grid-row: 1/2;
  }

  section:nth-of-type(2) form fieldset select:nth-of-type(3){
    grid-column: 1/2; 
    grid-row: 2/3;
  }

  section:nth-of-type(2) form fieldset label:nth-of-type(4){
    grid-column: 2/3; 
    grid-row: 1/2;
  }

  section:nth-of-type(2) form fieldset select:nth-of-type(4){
    grid-column: 2/3; 
    grid-row: 2/3;
  }

  /* SHARED STYLING */
  section:nth-of-type(2) form fieldset label{
    display: block;
    font-size: .95rem;
    margin-bottom: .3rem;
    font-weight: 500;
  }

  section:nth-of-type(2) form fieldset select,
  section:nth-of-type(2) form fieldset input[type="date"]{
    width: 100%;
    padding: .9rem 1rem;
    box-sizing: border-box;
    border-radius: .5rem;
  }

  section:nth-of-type(2) form button{
    width: 100%;
    grid-column: 1 / -1;
  }
}

/* Breede schermen en landscape op telefoon */
@media (min-width: 761px) and (max-width: 999px) and (orientation: landscape) {
  section:nth-of-type(1){
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  section:nth-of-type(2){
    grid-column: 1/-1;
    grid-row: 2/3;
  }

  section:nth-of-type(3){
    grid-column: 1/-1;
    grid-row: 3/4;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  section:nth-of-type(3) h2{
    font-weight: bold;
  }

  section:nth-of-type(3) article:first-of-type{
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 1rem;

    grid-column: 1/2;
    grid-row: 1/2;
  }

  section:nth-of-type(3) article:first-of-type p{
    display: block;
  }

  section:nth-of-type(3) article:first-of-type a{
    grid-row: 3/4;
    grid-column: 1/2;

    display: inline-block;
    background-color: var(--color-background);
    color: var(--color-text);
    padding: .5em 1em;
    border-radius: 9999rem;
    border: .1rem solid var(--color-text);
    text-align: center;
    transition: 0.2s;
  }

  section:nth-of-type(3) article:first-of-type a:hover{
    color: var(--primary-color);
    border: .1rem solid var(--primary-color);
  }

  section:nth-of-type(3) figure img:nth-of-type(1){
    display: block;

    border-radius: 2rem 2rem 2rem 2rem;

    width: 100%;
    height: 20rem;

    grid-row: 1/-1;
  }

  section:nth-of-type(3) figure img:nth-of-type(2){
    display: none;
  }

  section:nth-of-type(3) figure img:nth-of-type(3){
    display: none;
  }

  section:nth-of-type(4){
    position: relative;

    grid-column: 1/-1;
    grid-row: 4/5;

    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    margin-left: .8rem;
    border-right: 0.2rem solid #ddd;
    border-top: none;
    padding-bottom: 3rem;
  }

  /* elk artikel als "kaart" */
  section:nth-of-type(4) article {
    flex: 0 0 16rem; 
    scroll-snap-align: start;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 1.5rem 1rem;
    border-right: 0.1rem solid #ddd;
  }

  section:nth-of-type(4) article img {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
  }

  section:nth-of-type(4) article h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  section:nth-of-type(4) article p {
    color: var(--color-text);
    margin-bottom: 1rem;
  }

  section:nth-of-type(4) article a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
  }

  section:nth-of-type(4) > p {
    position: absolute; 
    text-align: center;
    color: var(--primary-color);
    font-weight: normal;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  section:nth-of-type(4) > p a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 700;
  }

  section:nth-of-type(4) > p a:hover {
    text-decoration: underline;
  }

  section:nth-of-type(5){
    grid-column: 1/-1;
    grid-row: 5/6;
  }
}

@media (min-width: 1000px){
  section:nth-of-type(1){
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  section:nth-of-type(2){
    grid-column: 1/-1;
    grid-row: 2/3;
  }

  /* test */
  section:nth-of-type(3){
    grid-column: 1/-1;
    grid-row: 3/4;

    align-items: start;
  }

  section:nth-of-type(3) h2{
    font-weight: bold;
  }

  section:nth-of-type(3) article:first-of-type{
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 1rem;

    grid-column: 1/2;
    grid-row: 1/2;
  }
  
  section:nth-of-type(3) article:first-of-type p{
    display: inline-block;

    grid-row: 2/3;
    grid-column: 1/2;

    color: var(--color-text);
    margin: 0;
  }

  section:nth-of-type(3) article:first-of-type a{
    grid-row: 3/4;
    grid-column: 1/2;

    display: inline-block;
    background-color: var(--color-background);
    color: var(--color-text);
    padding: .5em 1em;
    border-radius: 9999rem;
    border: .1rem solid var(--color-text);
    text-align: center;
    transition: 0.2s;
  }

  section:nth-of-type(3) article:first-of-type a:hover{
    color: var(--primary-color);
    border: .1rem solid var(--primary-color);
  }

  section:nth-of-type(3) figure{
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;

    gap: .1rem;

    grid-row: 1/-1;
    grid-column: 2/3;
  }

  section:nth-of-type(3) figure img:nth-of-type(1){
    grid-column: 1/2;
    grid-row: 1/3;

    border-radius: 1rem 0 0 1rem;
    height: 25rem;
    width: 25rem;

    margin: 0;
  }

  section:nth-of-type(3) figure img:nth-of-type(2){
    grid-column: 2/3;
    grid-row: 1/2;

    height: 12rem;
    width: 12rem;

    border-radius: 0 1rem 0 0;

    margin: 0;
    margin-left: .5rem;
  }

  section:nth-of-type(3) figure img:nth-of-type(3){
    grid-column: 2/3;
    grid-row: 2/3;

    height: 12rem;
    width: 12rem;

    border-radius: 0 0 1rem 0;

    margin: 0;
    margin-top: .65rem;
    margin-left: .5rem;
  }

  section:nth-of-type(4){
    position: relative;

    grid-column: 1/-1;
    grid-row: 4/5;

    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    margin-left: .8rem;
    border-right: 0.2rem solid #ddd;
    border-top: none;
    padding-bottom: 3rem;
  }

  section:nth-of-type(4) > p {
    position: static; /* niet absolute */
    text-align: center;
    color: var(--primary-color);
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  section:nth-of-type(4) > p a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 700;
  }

  section:nth-of-type(4) > p a:hover {
    text-decoration: underline;
  }

  section:nth-of-type(5){
    grid-column: 1/-1;
    grid-row: 5/6;
  }
}

@media (prefers-color-scheme: dark) {
	body{
		background-color:var(--color-background-dark);
		color:var(--color-text-dark);
	}

	main{
		background-color:var(--color-background-dark);
		color:var(--color-text-dark);
	}

	footer{
		background-color:var(--primary-color);
		color:var(--primary-color-2-dark);
	}
}