@font-face{
	font-family: 'bagoss';
	src: url(../fonts/Bagoss-Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family: 'bagoss';
	src: url(../fonts/Bagoss-Medium.woff2) format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face{
	font-family: 'bagoss';
	src: url(../fonts/Bagoss-Bold.woff2) format("woff2");
	font-weight: 700;
	font-style: normal;
}

*, *::after, *::before {
  box-sizing:border-box;  
}

/* CUSTOM PROPERTIES */
:root {
	/* Light mode */
	--color-text:#3d4246;
	--color-background:#fff;
	--primary-color: #055e51;
	--donker-groen: #003A32;
	--primary-color-2:#d7ffd0;
	--primary-color-action:#ff427f;
	--seizoen-color:#ffe2a1;
	--primary-color-action-hover:#c91e54;

	/* Dark mode */
	--color-background-dark:#1a1d1a;
	--forum-dark:#333c35;
	--color-text-dark:#E0E5E8;
	--primary-color-2-dark: #6EAF91;
	--primary-color-action-dark:#FF8AAD;

	/* Font */
	--main-font: 'bagoss', sans-serif;
}

/* Algemeen */
body{
	font-family:var(--main-font);
  	color:var(--color-text);
  	background-color:var(--color-background);
  	margin:0;
 	padding:0;
}

header{
	background-color:var(--primary-color);
	color:var(--primary-color-2);
 	display: flex;
  	justify-content: space-between;
  	align-items: center;
	gap: 1em;
}

header a{
	color: var(--primary-color-2);
	transition: .5s;
	font-weight: 500;
}

a{
	text-decoration:none;
}

li{
	list-style:none;
}

/* Eerste nav in de header */
nav:nth-of-type(1){
	margin-left: 1em;
}

nav:nth-of-type(1) button{
	position: relative;
  	z-index: 1;
}

nav:nth-of-type(1) ul{
  	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	translate: -100%;
	transition: 1s;
	background-color: var(--primary-color);
	padding: 2em;
}	

nav:nth-of-type(1) ul li{
	font-size: 1.375rem;
	padding: .9375em;
}

nav:nth-of-type(1) ul li:nth-of-type(7){
	color: var(--seizoen-color);
}

nav:nth-of-type(1) ul.is-open {
  translate: 0;
  z-index: 30;
}

/* Hamburger menu button */
header button {
  appearance: none;

  width: 5rem;           
  aspect-ratio: 1;

  border: none;
  background-color: var(--primary-color);

  display: grid;
  justify-content: center;
  align-content: center;

  z-index: 100;
}

header button.open-menu {
  appearance: none;

  width: .8em;           
  aspect-ratio: 1;

  margin: 1em;

  border: none;
  background-color: var(--primary-color);

  display: grid;
  justify-content: center;
  align-content: center;

  z-index: 100;
}

header button span {
  display: block;

  width: 3rem;  
  height: 0.4rem;  

  background-color: var(--primary-color-2);
  border-radius: 0.1em;

  grid-column-start: 1;
  grid-row-start: 1;

  transition: 0.5s;
}

header button span:nth-of-type(1) {
  translate: 0 -0.8rem; 
}

header button span:nth-of-type(3) {
  translate: 0 0.8rem;
}

header button.open-menu span:nth-of-type(1) {
  translate: 0;
  rotate: 45deg;
}

header button.open-menu span:nth-of-type(2) {
  scale: 0 1;
}

header button.open-menu span:nth-of-type(3) {
  translate: 0;
  rotate: -45deg;
}

/* Tweede nav in de header */
nav:nth-of-type(2){
	margin-right: 1em;
}

nav:nth-of-type(2) ul{
	display: flex;
  	gap: 1em;
}

nav:nth-of-type(2) ul li{
	flex-direction: column;
}


/*  FOOTER BASIS  */
footer {
	padding-top: 1rem;
    background: var(--primary-color);
    color: var(--primary-color-2);
    font-family: inherit;
}

footer h2{
    font-size: 1.1rem;
    margin-bottom: 1rem;
    text-align: center;
}

footer p {
    text-align: center;
    max-width: 40ch;
    margin-inline: auto;
    margin-bottom: 2rem;
}

footer a {
    color: var(--primary-color-2);
    text-decoration: none;
    font-weight: 500;
}

footer img {
    height: 2rem;
    width: auto;
    object-fit: contain;
}

footer form {
    display: flex;
    gap: .5rem;
    justify-content: center;
    margin-bottom: 2.5rem;
}

footer form input {
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    width: 14rem;
}

footer form button {
    background: var(--primary-color-action);
    color: var(--color-background);
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    font-weight: bold;
    cursor: pointer;
}

footer section:nth-of-type(1){
	margin: 1rem;
}

footer section:nth-of-type(2){
	margin: 1rem;
}

/* ACCORDION STYLING */
footer section:nth-of-type(2) ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid rgba(78, 255, 175, 0.4);
}

footer section:nth-of-type(2) ul:nth-of-type(1) li {
    padding: 1rem 0;
    border-bottom: 1px solid rgba(78, 255, 175, 0.4);
}

footer ul li a {
    display: flex;
    justify-content: space-between; /* tekst links, + rechts */
    align-items: center;
}

/* Voeg + icoon toe via CSS */
footer section:nth-of-type(2) ul:nth-of-type(1) li a::after {
    content: "+";
    font-size: 1.5rem;
    font-weight: bold;
}

footer section:nth-of-type(3) {
    margin-top: 3rem;
    border-top: 1px solid rgba(255,255,255,0.2);

	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

footer section:nth-of-type(3) h2 {
    font-size: 1.1rem;
    margin: 2rem 0 1rem;
}

footer section:nth-of-type(3) h2:nth-of-type(1){
	grid-column: 1/-1;
	grid-row: 1/2;
}

footer section:nth-of-type(3) select {    
    width: 100%;
    padding: 1rem 1.2rem;
    border-radius: 0.7rem;
    border: 2px solid rgba(255, 255, 255, 0.4);
    font-size: 1rem;
    background-color: transparent;
    color: var(--primary-color-2);
    box-sizing: border-box;
    cursor: pointer;

	grid-column:  1/-1;
	grid-row: 2/3;
}

footer section:nth-of-type(3) h2:nth-of-type(2){
	grid-column: 1/2;
	grid-row: 3/4;
}

footer section:nth-of-type(3) ul:nth-of-type(1) {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    margin: 1.5rem 0;

	grid-column: 1/2;
	grid-row: 4/5;
}

footer section:nth-of-type(3) ul:nth-of-type(1) img {
    width: 2rem;
}

footer section:nth-of-type(3) h2:nth-of-type(3){
	grid-column: 2/3;
	grid-row: 3/4;
}

footer section:nth-of-type(3) ul:nth-of-type(2){
	display: flex;
}

footer section:nth-of-type(3) ul:nth-of-type(2) li img{
    width: 3rem;
    margin: .4rem .5rem;
    display: inline-block;
    vertical-align: middle;
}

@media (min-width: 600px) and (max-width: 899px){
	nav:nth-of-type(1) ul li{
		font-size: 1.4rem;
	}
}

	
@media (min-width: 900px){
	
	footer {
		padding-top: 5rem;
	}

	footer section:nth-of-type(2) ul {
		border: none;
		display: flex;
		justify-content: center;
		overflow-x: scroll;
		gap: 0.5rem;
		flex-wrap: nowrap;
	}

	footer section:nth-of-type(2) ul li {
		border: none;
		padding: 0;
	}

	footer section:nth-of-type(2) ul li a {
		padding: 1.2rem 2rem;
		display: block;
		border-radius: 0.8rem 0.8rem 0 0;
		background: rgba(255,255,255,0.08);
		font-weight: 600;
		font-size: 1rem;
		transition: background 0.2s;
	}

	footer section:nth-of-type(2) ul li a:hover {
		background: rgba(255,255,255,0.15);
	}

	footer section:nth-of-type(2) ul:nth-of-type(1) li a::after {
		content: "";
	}

	footer section:nth-of-type(3) {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		align-items: start;
		text-align: left;
		gap: 2rem;
	}

	footer section:nth-of-type(3) h2:nth-of-type(1){
		grid-column: 1/2;
		grid-row: 1/2;
	}

	footer section:nth-of-type(3) select{
		grid-column: 1/2;
		grid-row: 2/3;
	}

	footer section:nth-of-type(3) h2:nth-of-type(2){
		grid-column: 2/3;
		grid-row: 1/2;
	}

	footer section:nth-of-type(3) h2:nth-of-type(3){
		grid-column: 3/4;
		grid-row: 1/2;
	}

	footer section:nth-of-type(3) ul:nth-of-type(1) {
		justify-content: flex-start;

		grid-column: 2/3;
		grid-row: 2/3;
	}

	footer section:nth-of-type(3) ul:nth-of-type(2) {
		justify-content: flex-start;
		gap: 1rem;
		display: flex;

		grid-column: 3/4;
		grid-row: 2/3;
	}

	footer section:nth-of-type(3) select {
		max-width: 18rem;
	}
}

/* Vanaf 1000px */
@media (min-width: 1000px) {
	nav:nth-of-type(1) ul {
		position: static;
		translate: 0;
		padding: 0;
		background-color: transparent;
		display: flex;
		gap: 1em;
	}

	nav:nth-of-type(1) a{
		display: flex;
		padding: 1em 2em;
		transition: .8s;
	}

	nav:nth-of-type(1) a:hover{
		text-decoration: underline;
	}

	nav:nth-of-type(1) ul li{
		font-size: .8rem;
	}

	nav:nth-of-type(1) ul li:nth-of-type(1){ 
		font-size: 1.5rem;
	}

	nav:nth-of-type(1) ul li:nth-of-type(8){
		display: none;
	}

	nav:nth-of-type(1) ul li:nth-of-type(9){
		display: none;
	}

	nav:nth-of-type(1) ul li:nth-of-type(10){ 
		display: none;
	}

	nav:nth-of-type(1) ul li:nth-of-type(11){ 
		display: none;
	}

	nav:nth-of-type(1) ul li:nth-of-type(12){ 
		display: none;
	}

	header button {
		display: none;
	}
}


@media (prefers-color-scheme: dark) {
	body{
		background-color:var(--color-background-dark);
		color:var(--color-text-dark);
	}

	main{
		background-color:var(--color-background-dark);
		color:var(--color-text-dark);
	}

	footer{
		background-color:var(--primary-color);
		color:var(--primary-color-2-dark);
	}
}